apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sample-microservices
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: __GIT_REPOSITORY_URL__
    targetRevision: HEAD
    path: assignment/charts/sample-microservices
    helm:
      releaseName: sample-microservices
  destination:
    server: https://kubernetes.default.svc
    namespace: sample
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
  revisionHistoryLimit: 3
